extends layout

block content
  h1= title
  
  form(method='POST' action='')
    div.form-group
      label(for='team_number') Team Number:
      input.team_number.form-control(type='text', placeholder='Enter Team Number' name='team_number' required='true')
    div.form-group
      label(for='team') Team:
      select.author.form-control(type='select', placeholder='Choose a team' name='team' required='true')
        for team in teams
          if team
            option(value=team._id selected=(team._id.toString()==scoutMatch.team ? 'selected' : false) ) #{team.number}
          else 
            option(value=team._id) #{team.number}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
